html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

@media screen and (orientation: landscape) {
	body {
		width: 100vh;
		height: 100vw;
		transform-origin: 0 0;
	}
}

body {
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
body.rotation-90 {
	transform: rotate(90deg) translateY(-100%);
}
body.rotation90 {
	transform: rotate(-90deg) translateX(-100%);
}


.wrapper {
	max-width: 800px;
	margin: 0 auto;
}
@supports (-webkit-touch-callout: none) {
	#scan-qr-code {
		display: none;
	}
}


/* HEADER */
#header{
	display: flex;
	justify-content: space-around;
	background: #fff;
	padding: 10px;
	font-size: 24px;
	z-index: 9999;
}

.fa-disabled{
	opacity: 0.4;
	cursor: not-allowed;
	pointer-events: none;
}
.active{
	color: #009aff;
}



/* VIEWS */
.views:not(:target) {
//	display: none !important;
}
.views{
	display: none;
	position: relative;

}
:target{
//	display: block;
}


/* SETTINGS */
#settings input[type="text"] {
	width: 100%;
	padding: 0.5em;
	font-size: 1.2em;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}
#settings input[type="range"], select {
	width: 70%;
}
#settings label {
	display: inline-block;
	float: left;
}
#settings .option {
	padding: 0px 10px;
}
#settings .option output {
	width: 80px;
	text-align: right;
}

/* ORIENTATION / HOME VIEW */
#orientation {
	margin-top: 60px;
}
#front-icon {
	display: block;
	font-size: 8em;
	text-align: center;
}
#front-motion{
	position: relative;
	transform: rotate(90deg);
	font-size:14px;
	top: -40px;
	left: -100px;
}

#side-icon {
	display: block;
	font-size: 10em;
	text-align: center;
}
#side-motion{
	position: relative;
	transform: rotate(90deg);
	font-size:14px;
	top: -100px;
	left: -90px;
}

#subscribe-notif-btn, #req-motion-perm-btn, #test-send-btn, #reset-btn, #calibrate-btn{
	width: 100%;
	line-height: 2;
	font-size: 20px;
	margin-top: 10px;
}
#test-send-btn{
	display:none;
}
#sub-info, #motion-info{
	background-color: #e7e7ff;
	padding: 15px;
	word-wrap: break-word;
	font-style: italic;
	margin-bottom: 5px;
}
#front-motion_, #side-motion_{
	background-color: #e7e7ff;
	padding: 20px;
	word-wrap: break-word;
	font-style: italic
}

/* SETTINGS VIEW */
#settings input[type="text"] {
	width: 100%;
	padding: 0.5em;
	font-size: 1.2em;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}
#settings input[type="range"], select {
	width: 70%;
}
#settings label {
	display: inline-block;
	float: left;
}
#settings .option {
	padding: 5px 10px;
}
#settings .option output {
	width: 80px;
	text-align: right;
}
#calibration-timer{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 8em;
	font-weight: bold;
	text-align: center;

}
button {
	display: inline-block;
	border-radius: 3px;
	border: none;
	font-size: 0.9rem;
	padding: 0.5rem 0.8em;
	background: #69c773;
	border-bottom: 1px solid #498b50;
	color: white;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	margin: 0;
	width: 100%;
	text-align: center;
}

button:disabled{
	background: #A0A0A0;
}


/* DEBUG VIEW */
#debug{
	background-color:orange;
	word-wrap: break-word;
	font-style: italic
}
#debug span{
	font-size:14px;
	display:block;
}

/* SCAN QR VIEW */
#scan-qr-code{
	position: relative;
}

/* SHARE QR VIEW */
#share-qr-code{
	position: relative;
	text-align: center;
}

#scan-qr-code img, #share-qr-code img {
	max-width: 100%
}


/* ADD TO HOME SCREEN VIEW */
#add-to-home-screen {
	display: none;
	background-color: #fff;
	padding: 20px;
}
#add-to-home-screen img {
	margin: 0 auto;
	padding-top: 10px;
	max-height: 500px;
	max-width: 100%
}

#not-a-valid-device{
	display: none;
	padding: 20px;
}

/* ANIMATIONS */
.beatDuration{
	--fa-animation-duration: 0.5s;
	--fa-beat-scale: 1.2;
	--fa-animation-iteration-count: 3;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes pulseFlipH {
	0% {
		transform: scale(-1,1);
	}
	50% {
		transform: scale(-1.1,1.1);
	}
	100% {
		transform: scale(-1,1);
	}
}
.beat{
	-webkit-animation: pulse 0.5s 3 ease;
	animation: pulse 0.5s 3 ease;
}
.beatFlipH{
	-webkit-animation: pulseFlipH 0.5s 3 ease;
	animation: pulseFlipH 0.5s 3 ease;
}

.calibrate-wait{
	-webkit-animation: pulse 1s linear infinite forwards;
	animation: pulse 1s linear infinite forwards;
	left: -50% !important;
	right: -50% !important;
	margin-top:-50px;
}


#links{
	display: grid;
}
#source-link, #issue-link {
//	bottom: 10px;
	padding: 5px;
}


/* REMOVE? */
div.option:has(#angle-steps-for-push){
	display: none;
}

